*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

html {
  	scroll-behavior: smooth;
}

body {
	margin: 0;
	--color-text: #ffffff;
      --color-text-alt: #747474;
      --color-bg: #4c6358;
      --color-link: #ffffff;
      --color-link-hover: #dee2bf;
      color: var(--color-text);
	background: var(--color-bg);
	font-family: Archivo, sans-serif;
	font-weight: 500;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--cursor-stroke: #dee2bf;
}

a {
	font-family: Archivo, sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}


h1 {
	--color-text: #ffffff;
	font-family: Bakbak One, sans-serif;
	font-size: min(8rem, 6vw);
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.menu {
	display: grid;
	place-items: center;
	align-self: center;
	grid-gap: 8vw;
	font-size: 1.5rem;
	font-family: "Archivo", sans serif;
}

.wrapper {
	height: 100vh;
  	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

section {
	display: flex;
	flex-flow: column wrap;
  	align-items: center;
  	justify-content: center;
	font-size: min(1.5rem, 3vw);
	font-family: "Archivo", sans serif;
	height: 100vh;
	scroll-snap-align: start;
	padding: 0 15vh;
}

p {
	text-align: justify;
}

.container-top {
  display: flex;
  align-items: flex-end;
  width: 60px;
}

.return {
  	position: fixed;
  	right: 30px;
  	color: #ffffff;
  	padding: 10px;
}

.cursor {
	display: none;
}

@media screen and (min-width: 53em) {
	.menu {
		font-size: min(1.5rem, 4vw);
		grid-auto-flow: column;
		max-width: min-content;
	}
	
	h1 {
		font-size: 4vw;
	}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
	}

	.cursor__inner {
		fill: none;
		stroke: var(--cursor-stroke);
		stroke-width: 1px;
	}

	.no-js .cursor {
		display: none;
	}

}